@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Inter, sans-serif;
        @apply scroll-smooth
    }
}

.navbar-absolute {
    @apply absolute bg-custom-black-900 bg-opacity-50;
}

.navbar-fixed {
    @apply fixed bg-custom-black-900 bg-opacity-50 border-b border-white border-opacity-10;
}

.navbar-mobile-menu-active {
    @apply translate-y-80;
}

.hamburger-active > div:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > div:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > div:nth-child(3) {
    @apply -rotate-45;
}

.gradient-first {
    @apply bg-gradient-to-br from-blue-800 to-cyan-400;
}

.gradient-second {
    @apply bg-gradient-to-tr from-purple-700 to-pink-500;
}

.gradient-third {
    @apply bg-gradient-to-r from-orange-700 to-yellow-400;
}

.line-with-gradient {
    position: relative;
}

.line-with-gradient:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
}

.line-with-gradient:before {
    @apply top-0 bg-gradient-to-b from-custom-black-900/100;
}

.line-project-gradient {
    position: relative;
}

.line-project-gradient:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
}

.line-project-gradient:before {
    @apply top-0 bg-gradient-to-b from-custom-black-300/100;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-reverse-direction {
    direction: rtl;
}